node_modules
.DS_Store
node_modules
/dist
/lib

/packages/*/lib
/packages/*/dist
/projects/*/lib
/projects/*/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
