@include theme(f-actionbar) using ($material) {
  background-color: map-get($material, "actionbar");
}

.v-item-group.f-actionbar {
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0, 0);

  &:not(.f-actionbar--custom-content) {
    .v-btn {
      background-color: transparent;
      box-shadow: none;
      flex: 0 1 auto;
      height: inherit;
      font-size: 12px;
      min-width: 80px;
      padding: 4px;
      position: relative;
      text-transform: none;

      // &:after,
      // &:before {
      //   content: none;
      // }

      .v-btn__content {
        flex-direction: column-reverse;
        height: inherit;

        > *:not(.v-icon) {
          line-height: 1.2;
        }
      }

      &.v-btn--active {
        color: inherit;
      }
    }
  }

  &:not(.f-actionbar--active) {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
  }
}

.v-item-group.f-actionbar--fixed {
  position: fixed;
  z-index: 4;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
