// Typography

.f-headline {
  @include f-text-n(24px);
  @include f-weight-sb();
}

.f-title-1 {
  @include f-text-n(18px);
  @include f-weight-sb();
}

.f-title-2 {
  @include f-text-n(17px);
  @include f-weight-sb();
}

.f-title-3 {
  @include f-text-n(16px);
  @include f-weight-m();
}

.f-button-label-1 {
  &.v-btn.v-size--default {
    @include f-text-n(17px);
    @include f-weight-b();
  }
}

.f-button-label-2 {
  &.v-btn.v-size--small {
    @include f-text-n(14px);
    @include f-weight-m();
  }
}

.f-body-1 {
  @include f-text-n(16px);
  @include f-weight-m();
}

.f-body-2 {
  @include f-text-n(14px);
}

.f-caption {
  @include f-text-n(12px);
}

.f-superior {
  @include f-text-n(10px);
}
