@import "../mixin.scss";
@import "../color.scss";
.f-asset-selector {
  height: 54px;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 20px;

  &__arrow {
    margin-left: auto;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 14px;
    padding: 0 10px;
  }

  &__label--active {
    display: none;
  }

  .f-asset-logo {
    align-self: center;
  }

  .f-asset-selector__label {
    @include f-text-n(20px);
    @include f-weight-m();
  }
}

.theme--light {
  .f-asset-selector {
    border: 1px solid #e6e6e6;
  }
  .f-asset-selector__label {
    color: f-color(light, greyscale_4);
  }
}

.theme--dark {
  .f-asset-selector--border {
    border: 1px solid #34393e;
  }
  .f-asset-selector__label {
    color: f-color(dark, greyscale_4);
  }
}
