@include theme(f-phone-input) using ($material) {
  .f-country-code-select__field {
    color: map-deep-get($material, "text", "primary");
  }
}

.f-country-code-select__countries {
  max-height: 60vh;
  overflow-y: auto;
}

.f-country-code-select__field {
  display: flex;
  align-items: center;
  margin-top: 3px;
}
