@import "~vuetify/src/styles/styles.sass";

@import "./_base";

@import "./_dark";
@import "./_light";

@import "./_elevations";
@import "./_button";
@import "./_switch";
@import "./_input";
@import "./_slider";
@import "./_dialog.scss";