@import "./_variable.scss";

.f-btn.v-btn {
  font-weight: 600;

  &:not(.v-btn--round) {
    @each $name, $padding in $btn-paddings {
      &.v-size--#{$name} {
        padding: 0 #{$padding}px;
        min-width: auto;
      }
    }
  }

  .v-btn__loader {
    position: relative;
  }
}

.v-btn:not(.v-btn--outlined).f-button--light {
  &.primary,
  &.secondary,
  &.accent,
  &.success,
  &.error,
  &.warning,
  &.info {
    color: map-deep-get($material-light, 'text', 'primary');
  }
}
